.hpmain {
    margin: auto;
    width: 900px;
    border: 7px solid rgb(0, 79, 0);
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}