div img {
    min-height: 100px;
}

.hmain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoimg {
    width: 200px;
    height: 150px;
}