div img {
    min-height: 100px;
}

.hmain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rando {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: block;
    text-align: center;
    background-color: white;
}