.fmain {
    width: 500px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: darkgray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
}